<div class="row">
	<div class="span6 offset3">
		<br>
		<div class="channel-hero-unit">
			<br>
			<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
				<div class="control-group controls">
					<h2>Resend confirmation instructions</h2>
				</div>
				<%= f.error_notification %>

			  <div class="inputs">
			    <%= f.input :email, :required => true %>
			  </div>

			  <div class="control-group controls">
			    <%= f.button :submit, "Resend confirmation instructions", :class => 'btn-large btn-primary' %>
					<br>
					<br>
					<%= render "users/links" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
